.wrapper_01 {
    width: 1100px;
    margin: 0 auto;
}
.wrapper_02 {
    width: 980px;
    margin: 0 auto;
    background-color: #fcfcfc;
}
/* 每次用只调用即可 */
.sprite_img {
   background: url(../img/topbar\ \(1\).png) no-repeat;
}

.icon_hot {
    width: 28px;
    height: 19px;
    background-position: -190px 0;
}

/* 复用:头部 */
.head-type-01{
    display: flex;
    justify-content: space-between;
    height: 23px;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: bold;
}

/* 复用:头部2 */
.head-type-02 {
    height: 32px;
    padding:0 10px 0 34px;
    border-bottom: 2px solid #C10D0C;
    background:url(../img/user-login.png) no-repeat 0 9999px;
}

.head-type-02::after {
    content: '';
    display: block;
    /* relative是从原来的位置 */
    /* position: relative; */

    position: absolute;
    width: 12px;
    height: 12px;
    right: 10px;
    top:12px;
    /* 不是hover不可以直接用附属元素的background */
    background:url(../img//user-login.png) no-repeat 0 -240px;
}

.head-type-02 .rcm {
    color: #333;
    font-size: 20px;
}

/* 复用:按钮 */
.btn-module{
    /* 包裹子元素,设block会自动填充父元素宽度而不是被子元素撑开 */
    /* display: inline-block;则是由子元素或自身设的宽度决定 */

    /* 给了其父元素设了宽度,让其继承 */
    display: block;
    height: 31px;
    line-height: 31px;
    padding-right:5px ;
    text-align: center;
    background: url(../img/btn.png) no-repeat right -100px;
  }

.btn-module i{
    display: block;
    font-weight: bold;
    background-position: 0 -59px;
    color: #333;
}
