body,h1,h2,p,ul,dl,dt,dd,ol{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
  word-wrap: break-word;
  word-break: break-word;
}

body {
  background: #f2f2f2;
}

a{
  color:#ccc;
  text-decoration: none;
}

ul li,i,ol li{
  list-style: none;
  font-style: normal;
}

input,a {
  outline: none;
  border: none;
}