<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box1 {
      background-color: blue;
      width: 200px;
      height: 200px;
    }
    i {
      /* float可以设元素有inline-block属性 */
      float: left;
      
    }
    .box2 {
      background-color: greenyellow;
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  <div class="box1">
    <i>
      <div class="box2"></div>
    </i>
  </div>
</body>
</html>