<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    span {
      width: 100px;
      height: 100px;
      background-color: red;
    }

  </style>
</head>
<body>
  <div>
    <!-- span是内联样式line -->
    <span>nihoa</span>
    <span class="nih">nihoa</span>
    <!-- 
      <img>：用来显示图片，默认是 inline-block。
      <input>：用来接受用户输入的控件，默认是 inline-block。
      <button>：用来创建按钮，默认是 inline-block。
      <select>：用来创建下拉菜单，默认是 inline-block。
      <textarea>：用来创建多行文本输入框，默认是 inline-block。

     -->
  </div>
</body>
</html>